@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.All
{
    /*background-image: url(https://www.camposanto.com/external/wallpapers/Launch_Yellow/FWY_3440x1440.jpg);
    background-size: 2050px;*/
    background-image: url(https://i.pinimg.com/originals/58/5e/cb/585ecb3b45b94a051bb4f67d2bca1e29.jpg);
    background-size: 1800px 100px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    font-family: 'Kanit';
    color: whitesmoke;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🖕</text></svg>"), auto;
}
.profile_img 
{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    display: block;
    margin: auto;
}
.Head
{
    text-align: center;
    display: block;
    margin: auto;
    font-size: 50px;;
}
.Portfolio
{
    font-size: 50px;
    position: absolute;
}
.img
{
    border-radius: 10px;
}
.Objective
{
    color: rgb(0, 0, 0);
    border: 1px #FFB38E;
    margin: 20px;
    max-width: 50%;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
}
.Personal_information
{
    border: 1px;
    border-radius: 10px;
    margin: 50px;
    line-height: 1;
    padding: 10px;
    background-image: linear-gradient(135deg, rgba(228, 4, 255, 1) 0%, rgba(7, 17, 126, 1) 100%);
}
.objective_thai
{
    color: #ffffff;
}
.Contactlink
{
    color: whitesmoke;
    position: sticky;
    text-decoration: none;
}
html
{
    scroll-behavior: smooth;
}
