@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.All
{
    background-color: #9DB2BF;
    font-family: 'Kanit';
    color: whitesmoke;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🖕</text></svg>"), auto;
}
.profile_img 
{
    height: 500px;
    width: 500px;
    border-radius: 25px;
    display: block;
    margin: auto;
}
.Head
{
    text-align: center;
    display: block;
    margin: auto;
    font-size: 50px;;
}
.Portfolio
{
    font-size: 50px;
    position: absolute;
}
.img
{
    border-radius: 25px;
}
.Objective
{
    color: #000000;
    border: 1px solid;
    padding: 10px;
    /*box-shadow: 5px 10px;*/
}
.Contactlink
{
    color: whitesmoke;
    position: sticky;
    text-decoration: none;
}
html
{
    scroll-behavior: smooth;
}
